<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                              https://maven.apache.org/xsd/settings-1.0.0.xsd">
  <servers>
    <server>
      <id>pedtomiba</id>
      <username>pedtomiba</username>
      <password>b6n2qgugd5rawkggotliermj3x4xnw3j63qqbftshglgotstv4ja</password>
    </server>
  </servers>
</settings>